body{
	background-color: rgba(169, 190, 192, 0.53);
	font: normal 16px Tahoma;
	margin: 0px;
}
#wrapper{
	width: 90%;
	margin: 1% auto;
}
header{
	background: #434343;
	color: white;
}
h1, h2{
	margin: 0;
	padding: 12px 20px;
}
h1{
	padding-bottom: 0;
	font-size: 36px;
}
h2{
	padding-top: 0;
	font-size: 18px;
	padding-left: 23px;
	color: rgb(205, 228, 225);
}
footer{
	background: #434343;
	color: white;
	padding: 12px 20px;
}